opencv-python
numpy
git+https://github.com/facebookresearch/segment-anything.git
rembg[gpu]
ultralytics
flask
gunicorn
boto3
#birefnet

#segment-anything  # if pip-installable, else clone from github in Dockerfile
